{% extends "mainPage/base.html" %}
{% block content %}

<form action="{% url 'submit_t' ass.id %}" method="post">
    {% csrf_token %}
    <label for="date">Enter Date: </label>
    <input type="date" name="date">

    <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
            <b>{{ ass.classes_id }}</b>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Student name</th>
                    <th>Arrival Status</th>
                </tr>
              </thead>
                <tbody>
                {% for s in classes_taught.student_set.all %}
                    <tr>
                    <td>{{s.fullName}}</td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">

                                <label class="btn btn-outline-success active">
                                    <input type="radio" name="{{ s.username }}" id="option1" autocomplete="off" value="present" checked> Present
                                </label>

                                <label class="btn btn-outline-danger">
                                    <input type="radio" name="{{ s.username }}" id="option2" autocomplete="off" value="absent"> Absent
                                </label>

                                <label class="btn btn-outline-dark">
                                    <input type="radio" name="{{ s.username }}" id="option3" autocomplete="off" value="late"> Late
                                </label>
                        </div>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>


    <input class="btn btn-success" type="submit" value="Submit">
</form>
{% endblock %}